
.nav-container {
    background-color: white !important;
    position: relative;
    
}

.item-container {
    background-color: #FFFCFC !important;
    border-radius: 0 !important;
    margin-bottom: 0 !important;
}

.item {
    color: black !important;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    border-radius: 0 !important;
}

.item:hover {
    background-color: var(--main-color) !important;
    color: black !important;
}

.main-logo {
    height: 2em;
    width: 259px;
    background-color: var(--main-color);
    mask-image: url("../../assets/EnTrack_HomeLogo.png");
    mask-size: cover;
    mask-clip: content-box;
    mask-origin: content-box;
    padding: 4px;
}

.item:hover > .main-logo {
    background-color: black;
}

.item-container > .item.active {
    background-image: linear-gradient(#FFFCFC 95%, var(--main-color) 95%) !important;
    background-blend-mode: lighten !important;
}