.ui.container.trains {
    margin-top: 2em;
    border: 2px solid var(--main-color) !important;
}

.ui.modal.create {
    max-width: 30%;
    padding: 2em;
    border: 2px outset var(--main-color) !important;
    text-align: center;
}

/*
.form-group > label {
    float: left;
}
*/

.trains h2 {
    padding-bottom: 1em !important;
    border-bottom: 1px solid !important;
}

.trains form input[type="text"] {
  border-bottom: solid 1px black !important;
  height: 2em !important;
  padding: 1em !important;
}

.trains form label {
  font-size: large;
}

.trains .table-width {
    max-width: 75%;    
}