
.slogan {
    text-align: center;
    padding-top: 50px;
    font-weight: lighter;
    font-style: italic;
}

.grid-position {
    display: flex;
    justify-content: center;
    padding-top: 20em;
}

.info-box-position {
    position: relative;
    left: 5em;
}

.info-box {
    max-width: 18em;
    text-align:start;
}