
.header-box {
    padding-top: 12em;
    padding-bottom: 10em;
    background-size: cover;
    background-position: center;
    background-image: url("../../assets/hammondstation.jpg");
}

.slogan {
    text-align: center;
    font-weight: bolder;
    font-style: italic;
    color: #FFFCFC;
    font-size: 3em;
    text-shadow: .08em .08em #222222;
}

.home-page > .route-planner {
    bottom: 6em;
}

.resizing {
    max-width: 75em;
}

.btn-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-styling {
    width: 8em;
    height: 3em;
    border: none;
    border-radius: 2em;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    background-color: #222222;
    color: var(--main-color);
}

.btn-styling:hover {
    background-color: var(--main-color);
    color: #222222;
}

.header-style {
    color: var(--main-color) !important;
}

.info-box {
    display: inline-block;
    max-width: 18em;
    height: 27em;
    text-align: start;
    background-color: #333333 !important;
    border-style: solid !important;
    border-width: .1em !important;
    border-color: var(--main-color) !important;
    box-shadow: 7px 7px var(--main-color) !important;
}

.info-boxes {
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 5em;
}

.box-header {
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
}